:root {
    --content-width: 1024px;
}

body {
    background-color: #fbfaf5;
    font-family: var(--font-family);
}

textarea {
    display: block;
    width: 100%;
    line-height: 24px;
    font-size: 1rem;
    
    height: 40px;
    box-sizing: border-box;

    border: 0;
    outline: none;
    padding: 8px 8px;
    font-family: 'Menlo';
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    resize: none;
    overflow: scroll hidden;
}

#context {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#context .line-numbers {
    display: flex;
    flex-direction: column;

    text-align: right;
    line-height: 24px;
    font-size: 1rem;
    padding: 8px 8px;
    font-family: 'Menlo';
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.5);
}

#input-prove {
    width: 100%;
}

#content {
    max-width: var(--content-width);
    margin: 0 auto;
}

/* Loading animation */

.loading {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    opacity: 0.0;
    background-color: black;
    animation: loading 0.8s infinite;
    animation-delay: 0.2s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

@keyframes loading {
    0% { transform: scale(0.0); opacity: 1.0 }
    100% { transform: scale(1.0); opacity: 0.0; }
}

/* General style */

h2 {
    text-align: center;
}

.tt {
    font-family: 'Computer-Modern-Typewriter';
}

.math {
    font-family: 'Computer-Modern';
    font-style: italic;
}

a {
    color: #3280b5;
}

input {
    font-family: var(--font-family);
    font-size: 1rem;
    height: 32px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    padding: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
}

input:focus {
    outline: none;
}

input.math {
    font-family: 'Computer-Modern';
    font-style: italic;
}

button {
    line-height: 32px;
    padding: 0px 8px;
    border-radius: 4px;
    background-color:rgba(0, 0, 0, 0.12);
    border: 0;
    min-width: 120px;

    margin: 8px 0px;
    cursor: pointer;

    font-family: var(--font-family);
    font-size: 1rem;
}

select {
    height: 32px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 0.9rem;
    border: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-top: 2px; /* visual fix for Palatino Font */
}

/* search.html */

#object-bar {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#object-name {
    width: 48px;
}

#object-type {
    min-width: 96px;
}

#object-type-arguments {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#object-type-arguments select {
    width: 48px;
    font-style: italic;
    font-family: 'Computer-Modern';
    font-size: 1rem;
    padding: 0px;
}

#object-overview {
    display: flex;
    flex-direction: row;
    max-height: 512px;

    max-width: var(--content-width);
    margin: 0px auto;

    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#object-list {
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#object-list > div {
    text-align: center;
    min-height: 24px;
    padding: 8px;
    transition: background-color 0.2s;
    position: relative;
}

#object-list div.delete {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    background-image: url('../img/trash.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
}

#object-list div.delete:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

#object-list > div.selected { background-color: rgba(0, 0, 0, 0.12); }
#object-list > div:hover { background-color: rgba(0, 0, 0, 0.05); cursor: pointer; }

#object-list span.adjectives {
    color: #48b532;
    padding-left: 8px;
}

#object-list span.adjectives:not(:empty)::before { content: '('; }
#object-list span.adjectives:not(:empty)::after { content: ')'; }

#object-properties {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
}

#object-properties > div {
    padding: 0px 0px 0px 8px;
    line-height: 30px;
}

#object-properties > div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#object-properties > div > label {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    transition: background-color 0.2s;
}

#object-properties > div > label::before {
    content: '';
    display: block;
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 5px 8px 2px 2px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    background-color: white;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#object-properties > div > label.yes::before { background-image: url("../img/checkmark.png"); }
#object-properties > div > label.no::before { background-image: url("../img/cross.png"); }

#search-bar {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#output {
    max-width: var(--content-width);
    margin: 0px auto;
}


/* #button-search, #button-prove {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 */
